<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>My Books</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" />
</head>
<body>

	<div class="container" id="hello">
		<div class="row">
			<h1>{{ msg }}</h1>
			<input type="text" class="form-control" v-model="msg" />
		</div>

		<div class="row">
			<h1>My List</h1>
			<ul>
				<li v-for="person in people">
					{{ person.name }}
				</li>
			</ul>
		</div>
		
		<div class="row">
			<h1>My List Elements</h1>
			<input type="text" class="form-control" v-model="newElement" v-on:keyup.enter="addElement" />
			<ul>
				<li v-for="element in elements">
					{{ element.title }}
					<a href="#" v-on:click="removeElement($event, $index)">X</a>
				</li>
			</ul>
		</div>

		<div class="row">
			<h1>v-on</h1>
			<!-- <button v-on:click="myClick">Click</button> -->
			<button @click="myClick">Click</button>
			<input type="text" class="form-control" @keyup.enter="myKeyup" placeholder="myKeyUp" />
		</div>

		<div class="row">
			<h1>v-bind</h1>
			<p :class="{ 'text-danger': 1 == 1 }">text</p>
			<p :style="{ fontSize:30 + 'px' }">style</p>
			<p :style="[objectA, objectB]">A e B aqui</p>
		</div>

	</div>


	<script src="node_modules/vue/dist/vue.js"></script>
	<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
	<script src="js/app.js"></script>
</body>
</html>