<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>My Books</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" />
</head>
<body>

	<div class="container" id="hello">
		<div class="row">
			<h1>{{ msg }}</h1>
			<input type="text" class="form-control" v-model="msg" />
		</div>

		<div class="row">
			<h1>My List</h1>
			<ul>
				<li v-for="person in people">
					{{ person.name }}
				</li>
			</ul>
		</div>
	</div>

	<script src="node_modules/vue/dist/vue.js"></script>
	<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
	<script src="js/app.js"></script>
</body>
</html>